fastapi/
*.pyc
.idea
.DS_Store
comicTextDetector/data/comictextdetector.pt
comicTextDetector/models/comictextdetector.pt
comicTextDetector/models/aot_inpainter.ckpt
comicTextDetector/models/comictextdetector.pt.onnx
comicTextDetector/models/lama_mpe.ckpt
comicTextDetector/models/mit32px_ocr.ckpt
comicTextDetector/models/mit48pxctc_ocr.ckpt
